html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
}

section {
  margin: 25px 50px;
}

#choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 20px;
}

#choice-container > div {
  margin: 0.8em;
  height: 4vmin;
  width: 4vmin;
  border-radius: 50%;
}

#choice-container > div:hover {
  border: 2px solid gray;
}

/* .colors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 300px;
  border: 2px solid black;
} */

/* .colors-container > div {
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
} */

#gameboard {
  background-color: lightcyan;
  height: 1000px;
  width: 500px;
}

#player-guess {
  margin-bottom: 20px;
  background-color: lightgray;
}

.guess-container {
  /* display: flex;
  flex-wrap: wrap; */
  height: 100px;
  width: 100px;
  background-color: red;
}

.guess-container > div {
  /* flex: 10%; */
}

.miniboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100px;
  min-height: 100px;
  margin: 0 15px;
  border: 2px solid black;
}

.miniboard > div {
  background-color: lightblue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
}

.color1 {
  background-color: pink;
}

.color2 {
  background-color: lightgreen;
}

.color3 {
  background-color: lightblue;
}

.color4 {
  background-color: palevioletred;
}

.color5 {
  background-color: blueviolet;
}

.color6 {
  background-color: yellow;
}
