@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');
html {
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --first-color: #27296d;

  --second-color: #5e63b6;

  --third-color: #a393eb;

  --fourth-color: #f5c7f7;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  background-color: #dfd8ffaf;
}

main {
  display: flex;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
  height: 100px;
  color: white;
  background-color: var(--first-color);
  margin-bottom: 20px;
}

h2 {
  color: white;
  background-color: var(--second-color);
  padding: 10px;
}

p {
  font-size: 1.1rem;
}

aside > p {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  border: 2px solid var(--first-color);
  padding: 9px;
  border-radius: 2px;
}

.guess-text {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.error-msg {
  font-size: 1.2rem;
  font-style: italic;
  height: 25px;
  margin-bottom: 15px;
  color: #e31c3d;
}

.result-msg {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

section {
  padding: 0 40px;
}

#choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dotted var(--first-color);
  margin-bottom: 20px;
  border-radius: 2px;
}

#choice-container > div {
  margin: 0.8em;
  height: 4vmin;
  width: 4vmin;
  border-radius: 50%;
}

#choice-container > div:hover {
  border: 2px solid gray;
  cursor: pointer;
}

.colors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  min-height: 60px;
  background-color: rgb(242, 237, 255);
  border: 2px solid black;
  border-radius: 5px;
}

.colors-container > div {
  margin: 0 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 0 15px;
  border: 2px solid var(--second-color);
  border-radius: 5px;
  height: 100%;
}

.guess-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}

.miniboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  border: 2px solid black;
  background-color: white;
  margin-left: 15px;
  border-radius: 5px;
}

.miniboard > div {
  background-color: lightgray;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 2px;
}

button {
  color: white;
  background-color: var(--third-color);
  border: 1px solid var(--second-color);
  border-radius: 4px;
  margin: 0 3px 10px;
  padding: 0 3.5vmin;
  cursor: pointer;
  height: 32px;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: 1px 1px var(--second-color), 2px 2px var(--third-color),
    3px 3px var(--fourth-color);
  transform: translateX(-3px);
}

button:disabled {
  background-color: #b4b4b4;
}

button:disabled:hover {
  box-shadow: none;
  transform: none;
}

.color1 {
  background-color: #c44601;
}

.color2 {
  background-color: #0073e6;
}

.color3 {
  background-color: #5ba300;
}

.color4 {
  background-color: #e6308a;
}

.color5 {
  background-color: #55245b;
}

.color6 {
  background-color: #c08300;
}

.bold-text {
  font-weight: 800;
}

.italics {
  font-style: italic;
}

.yellow {
  background-color: rgba(255, 255, 0, 0.438);
}

.green {
  background-color: rgba(0, 128, 0, 0.39);
}

.instructions {
  margin-right: 30px;
}

#code-box {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  font-style: italic;
  margin-bottom: 10px;
}

#code-box > div {
  border: 2px solid var(--first-color);
  width: 100px;
}
