html {
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --first-color: #27296d;

  --second-color: #5e63b6;

  --third-color: #a393eb;

  --fourth-color: #f5c7f7;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
}

section {
  margin: 25px 0;
  padding: 0 40px;
  /* background-color: lightyellow; */
}

#choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dotted var(--first-color);
  margin-bottom: 20px;
  /* background-color: #9a8add62; */
}

#choice-container > div {
  margin: 0.8em;
  height: 4vmin;
  width: 4vmin;
  border-radius: 50%;
}

#choice-container > div:hover {
  border: 2px solid gray;
}

.colors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  height: 100px;
  background-color: lightgray;
  border: 2px solid black;
}

.colors-container > div {
  margin: 0 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#gameboard {
  /* background-color: lightcyan; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  /* background: lightcoral; */
}

.miniboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100px;
  min-height: 100px;
  margin: 0 15px;
  border: 2px solid black;
}

.miniboard > div {
  background-color: lightblue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
}

button {
  color: white;
  background-color: var(--third-color);
  border: 1px solid var(--second-color);
  border-radius: 4px;
  margin: 0 3px 10px;
  padding: 0 30px;
  cursor: pointer;
  height: 32px;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}
button:hover {
  box-shadow: 1px 1px var(--second-color), 2px 2px var(--third-color),
    3px 3px var(--fourth-color);
  transform: translateX(-3px);
}

.color1 {
  background-color: #c44601;
}

.color2 {
  background-color: #0073e6;
}

.color3 {
  background-color: #5ba300;
}

.color4 {
  background-color: #e6308a;
}

.color5 {
  background-color: #55245b;
}

.color6 {
  background-color: #c08300;
}
